[submodule "lukabernardi"]
	path = lukabernardi
	url = git://github.com/lukabernardi/CodeBox-Library.git
[submodule "shpakovski"]
	path = shpakovski
	url = git://github.com/shpakovski/codebox_library.git
[submodule "ablfx"]
	path = ablfx
	url = git://github.com/ablfx/Ablfx-CodeBox.git
